{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
<h1>Select an Option Below</h1>
<hr size="1">
<p>
    <a href="idsr-partial" class="myButton">CLICK TO ENTER PARTIAL IDSR INPUT NEEDED FOR AR</a>
</p>
<p>
    <a href="idsr-form" class="myButton">CLICK TO ENTER FULL IDSR INPUT FOR AR</a>
</p>
<p>
    <a href="incomplete-idsr" class="myButton">CLICK TO COMPLETE PARTIALLY FILLED IDSR</a>
</p>
<p>
    <a href="" class="myButton">GENERATE REPORTS</a>
</p>
{% endblock %}
