<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    <style>
    p.info {
        border-radius: 6px;
        color: #fff;
        font-size: 1.2em;
        line-height: 160%;
        margin: 20px auto;
        max-width: 400px;
        text-align: center;
    }
    </style>
</head>
<body>

<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div class="wrap">
        <div class="avatar">
            <img src="{{ url_for('static', filename='pictures/moh.png')}}">
        </div>
        {{ form.username(class="css_class") }}
        <div class="bar">
            <i></i>
        </div>
        {{ form.password() }}
        <br>
        {{ form.submit }}
    </div>
</form>
      {% if firstaccess %}
        <p class='info'>{{ firstaccess }}</p>
      {% endif %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
</body>
</html>
