{% macro render_field(field) %}
  {% if field.flags.required %}
  <div class="formline required">
  {% else %}
  <div class="formline">
  {% endif %}
  {% if field.type == "BooleanField" %}
    {{ field(**kwargs)|safe }} {{ field.label }}
  {% else %}
    {{ field.label }}: {{ field(**kwargs)|safe }}
  {% endif %}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_substeps(form) %}
{% for step in form.getSubsteps() %}
    <div class="substep">
    <h2>{{ form.step }}.{{ loop.index }}</h2>
    {% for field in step %}
        {{ render_field(field) }}
    {% endfor %}
    </div>
{% endfor %}
{% endmacro %}

{% macro render_stepsnav(form, steps) %}
<div class='stepsnav'>
    <ul>
{% for step in steps %}
    {% if form.step.lower() == step['id'] %}
        <li class='current'><a href="/idsrentry/{{ step['id'] }}">{{ step['id'].upper()+'. '+step['title'] }}</a></li>
    {% else %}
        <li><a href="/idsrentry/{{ step['id'] }}">{{ step['id'].upper()+'. '+step['title'] }}</a></li>
    {% endif %}
{% endfor %}
    </ul>
</div>
{% endmacro %}
