{% extends "base.html" %}

{% block title %}
IDSR Input Form
{% endblock %}

{% block head %}
    {{ super() }}
    <!-- JQuery and JQueryUI -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqueryui/jquery-ui.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.structure.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}"/>
    <script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $("input[input-type='date']").datepicker({ dateFormat: 'dd/mm/yy' });
            // Disable future dates if no_future option is set to 1
            $("input[no_future='1']").datepicker( "option", "maxDate", "+0d" );

            $('select').each(function(){
                var hidid = $(this).attr('id')+"_text";
                $(this).after('<input type="hidden" id="'+hidid+'" name="'+hidid+'"></input>');
            });
            $('select').change(function (e) {
                var hidid = $(this).attr('id')+"_text";
                $('#'+hidid).val($(this).find('option:selected').html());
            });

            // Updates the selection list of district in accordance with the
            // selected option from the reporting county selection list
            $('select[id="county_code"]').change(function (e) {
                var country = $(this).val();
                var hidid = $(this).attr('id')+"_text";
                $('#'+hidid).val($(this).find('option:selected').html());
                $.post( "/idsrentry/@@json/getDistrictChoices", { county: country, }, function(data) {
                    $('select[id="reporting_district"] option').remove();
                    $('input[id="reporting_district_dynamic"]').val('');
                    vals = []
                    $.each(data, function( i, val ) {
                        var option = '<option value='+val[0]+'>'+val[1]+'</option>';
                        $('select[id="reporting_district"]').append(option);
                        if (val[0] != '') {
                            vals.push(val[0]);
                        }
                    });
                    $('input[id="reporting_district_dynamic"]').val(vals.join('|'));
                }, "json");
            });

            // Updates the selection list of district in accordance with the
            // selected option from the reporting county selection list
            $('select[id="patient_county_of_residence"]').change(function (e) {
                var country = $(this).val();
                var hidid = $(this).attr('id')+"_text";
                $('#'+hidid).val($(this).find('option:selected').html());
                $.post( "/idsrentry/@@json/getDistrictChoices", { county: country, }, function(data) {
                    $('select[id="patient_district_of_residence"] option').remove();
                    $('input[id="patient_district_of_residence_dynamic"]').val('');
                    vals = []
                    $.each(data, function( i, val ) {
                        var option = '<option value='+val[0]+'>'+val[1]+'</option>';
                        $('select[id="patient_district_of_residence"]').append(option);
                        if (val[0] != '') {
                            vals.push(val[0]);
                        }
                    });
                    $('input[id="patient_district_of_residence_dynamic"]').val(vals.join('|'));
                }, "json");
            });

            // Updates the selection list of facilities in accordance with the
            // selected option from the reporting county and district selection
            // lists
            $('select[id="reporting_district"]').change(function (e) {
                var country = $('select[id="county_code"]').val();
                var district = $(this).val();
                var hidid = $(this).attr('id')+"_text";
                $('#'+hidid).val($(this).find('option:selected').html());
                $.post( "/idsrentry/@@json/getFacilityChoices", { county: country, district: district }, function(data) {
                    $('select[id="reporting_health_facility"] option').remove();
                    $('input[id="reporting_health_facility_dynamic"]').val('');
                    $.each(data, function( i, val ) {
                        var option = '<option value='+val[0]+'>'+val[1]+'</option>';
                        $('select[id="reporting_health_facility"]').append(option);
                        if (val[0] != '') {
                            vals.push(val[0]);
                        }
                    });
                    $('input[id="reporting_health_facility_dynamic"]').val(vals.join('|'));
                }, "json");
            });
            $('select[id="reporting_health_facility"]').change(function (e) {
                fac_abr = $('#reporting_health_facility option:selected').html().substring(0,4);
                fac_id = 'LR' + $('select[id="county_code"]').val() + fac_abr.toUpperCase();
                $('input[id="facility_code"]').val(fac_id);
            });

            // Diagnosis "other... logic".
            if ($('input[type=radio][id^="diagnosis-"][value="_other"]').is(':checked')) {
                $('input[id=diagnosis_other]').addClass('required');
                $('input[id=diagnosis_other]').prop('required', true);
                $('input[id=diagnosis_other]').closest('div.formline').show();
                $('input[id=diagnosis_other]').closest('div.formline').addClass('required');
            } else {
                $('input[id=diagnosis_other]').closest('div.formline').hide();
                $('input[id=diagnosis_other]').val('');
            }
            $('input[type=radio][id^="diagnosis-"]').change(function(e) {
                if ($(this).val() == '_other' && $(this).is(':checked')) {
                    $('input[id=diagnosis_other]').addClass('required');
                    $('input[id=diagnosis_other]').prop('required', true);
                    $('input[id=diagnosis_other]').closest('div.formline').show();
                    $('input[id=diagnosis_other]').closest('div.formline').addClass('required');
                } else {
                    $('input[id=diagnosis_other]').val('');
                    $('input[id=diagnosis_other]').removeClass('required');
                    $('input[id=diagnosis_other]').removeAttr('required');
                    $('input[id=diagnosis_other]').closest('div.formline').hide();
                    $('input[id=diagnosis_other]').closest('div.formline').removeClass('required');
                }
            });

            // Patients fields logic
            loadPatientFields();

            // Vaccination fields logic
            loadVaccinationFields();

            // Browser navigator
            $('div.form-footer a.navlink').click(function(e) {
                e.preventDefault();
                var navstep = $(this).attr('href');
                $(navstep).show();
                $(this).closest('div.substep').hide();
            });

            function loadPatientFields() {
                var anon = $('#patient_anonymous');
                if (anon.length > 0) {
                    $(anon).closest('div.formline').addClass('anon');
                    if ($(anon).is(':checked')) {
                        loadAnonPatient();
                    }
                    $(anon).change(function(e) {
                        if ($(anon).is(':checked')) {
                            loadAnonPatient();
                        } else {
                            $('div.formline').not('.anon').show();
                            $('input[id*=name]:visible').each(function() {
                                $(this).val('');
                                $(this).closest('div.formline').show();
                            });
                        }
                    });
                    loadEstimatedDateOfBirth();
                }
            }

            function loadAnonPatient(){
                $('input[id*=name]:visible').each(function() {
                    $(this).val('Anonymous');
                    $(this).closest('div.formline').hide();
                });
            }

            function loadEstimatedDateOfBirth() {
                if ($('#patient_birth_date_estimated').is(':checked')) {
                    $('#patient_dateofbirth').closest('div.formline').hide();
                    if (!$("#patient_age_years").val()) {
                        $("#patient_age_years").val(0);
                    }
                    if (!$("#patient_age_months").val()) {
                        $("#patient_age_months").val(0);
                    }
                    if (!$("#patient_age_days").val()) {
                        $("#patient_age_days").val(0);
                    }
                }else{
                  if (!$("#patient_age_years").val()) {
                    $("#patient_age_years").val(0);
                  }
                  if (!$("#patient_age_months").val()) {
                    $("#patient_age_months").val(0);
                  }
                  if (!$("#patient_age_days").val()) {
                    $("#patient_age_days").val(0);
                  }
                  $("#patient_age_years").prop('readonly', true);
                  $("#patient_age_months").prop('readonly', true);
                  $("#patient_age_days").prop('readonly', true);
                }
                $('#patient_birth_date_estimated').change(function(e) {
                    var anon = $('#patient_anonymous');
                    if (!$(anon).is(':checked')) {
                        if ($(this).is(':checked')) {
                            $('#patient_dateofbirth').closest('div.formline').hide();
                            $("#patient_age_years").prop('readonly', false);
                            $("#patient_age_months").prop('readonly', false);
                            $("#patient_age_days").prop('readonly', false);
                            $("#patient_age_years").val('');
                            $("#patient_age_months").val(0);
                            $("#patient_age_days").val(0);
                            calculateAge();
                        } else {
                            $('#patient_dateofbirth').closest('div.formline').show();
                            $("#patient_age_years").prop('readonly', true);
                            $("#patient_age_months").prop('readonly', true);
                            $("#patient_age_days").prop('readonly', true);
                        }
                    }
                });
                $('#patient_dateofbirth').change(function(e) {
                    var anon = $('#patient_anonymous');
                    var estim = $('#patient_birth_date_estimated');
                    if (!$(anon).is(':checked') && !$(estim).is(':checked')) {
                        // Calculatge the age from date
                        calculateAge();
                    }
                });
                $('input[id^="patient_age_"]').change(function(e){
                    var anon = $('#patient_anonymous');
                    var estim = $('#patient_birth_date_estimated');
                    if (!$(anon).is(':checked') && $(estim).is(':checked')) {
                        // Calculate the date from age
                        calculateDateOfBirth();
                    }
                });
            }

            /**
             * Calculates the age of the patient using the current Birth Date value,
             * and set the result value to 'Age' field. If no Birth Date available or
             * with a non-valid format, restores the value of 'Age' field to empty.
             */
            function calculateAge() {
                var dobstr = $("#patient_dateofbirth").val();
                var dobtok = dobstr.split('/');
                if (dobtok.length < 3) {
                    $("#patient_age_years").val('');
                    $("#patient_age_months").val('');
                    $("#patient_age_days").val('');
                    return;
                }
                var dob = new Date(dobtok[2],dobtok[1]-1,dobtok[0]);
                var now = new Date();
                if (dob!= undefined && dob != null && now>=dob){
                    var now = new Date();
                    var currentday=now.getDate();
                    var currentmonth=now.getMonth()+1;
                    var currentyear=now.getFullYear();
                    var birthday=dob.getDate();
                    var birthmonth=dob.getMonth()+1;
                    var birthyear=dob.getFullYear();
                    var ageday = currentday-birthday;
                    var agemonth=0;
                    var ageyear=0;
                    if (ageday < 0) {
                        currentmonth--;
                        if (currentmonth < 1) {
                            currentyear--;
                            currentmonth = currentmonth + 12;
                        }
                        dayspermonth = 30;
                        if (currentmonth==1 || currentmonth==3 ||
                            currentmonth==5 || currentmonth==7 ||
                            currentmonth==8 || currentmonth==10||
                            currentmonth==12) {
                            dayspermonth = 31;
                        } else if (currentmonth == 2) {
                            dayspermonth = 28;
                            if(!(currentyear%4) && (currentyear%100 || !(currentyear%400))) {
                                dayspermonth++;
                            }
                        }
                        ageday = ageday + dayspermonth;
                    }
                    agemonth = currentmonth - birthmonth;
                    if (agemonth < 0) {
                        currentyear--;
                        agemonth = agemonth + 12;
                    }
                    ageyear = currentyear - birthyear;

                    $("#patient_age_years").val(ageyear);
                    $("#patient_age_months").val(agemonth);
                    $("#patient_age_days").val(ageday);

                } else {
                    $("#patient_age_years").val('');
                    $("#patient_age_months").val('');
                    $("#patient_age_days").val('');
                }
            }

            function calculateDateOfBirth() {
                var years = parseInt($('#patient_age_years').val());
                var months = parseInt($("#patient_age_months").val());
                var days = parseInt($("#patient_age_days").val());
                var date = new Date()
                date.setDate(date.getDate() - days);
                date.setMonth(date.getMonth() - months);
                date.setFullYear(date.getFullYear() - years);
                datestr = date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear()
                $("#patient_dateofbirth").val(datestr);
            }

            function loadVaccinationFields() {
                var vac = $('input[id^="vaccinated_for_disease-"][value="y"]');
                if (vac.length > 0) {
                    if ($(vac).is(':checked')) {
                        $('#number_of_vaccinations').closest('div.formline').show();
                        $('#date_of_most_recent_vaccination').closest('div.formline').show();
                    } else {
                        $('#number_of_vaccinations').closest('div.formline').hide();
                        $('#date_of_most_recent_vaccination').closest('div.formline').hide();
                    }
                    $('input[id^="vaccinated_for_disease-"]').change(function(e){
                        if ($(this).val()=='y') {
                            $('#number_of_vaccinations').closest('div.formline').show();
                            $('#date_of_most_recent_vaccination').closest('div.formline').show();
                        } else {
                            $('#number_of_vaccinations').closest('div.formline').hide();
                            $('#date_of_most_recent_vaccination').closest('div.formline').hide();
                        }
                    });
                }
            }

        })
    })(jQuery);
    </script>
{% endblock %}

{% block content %}
{% if not is_partial %}
    <h1>IDSR Form Submission</h1>
{% else %}
    <h1>Partial IDSR Form</h1>
{% endif %}
{% from "idsrentry/_formhelpers.html" import render_stepsnav %}
{% from "idsrentry/_formhelpers.html" import render_substepsnav %}
{% from "idsrentry/_formhelpers.html" import render_fields %}
{% from "idsrentry/_formhelpers.html" import render_formfooter %}
{% from "idsrentry/_formhelpers.html" import render_idsrcode %}
{{ render_idsrcode(form) }}
{{ render_stepsnav(form, steps) }}
{% if not is_partial %}
    {{ render_substepsnav(form)}}
{% endif %}
<form action="" method="post" id="{{ form.step }}" name="{{ form.step }}">
    <div class='form'>
    {{ form.hidden_tag() }}
    {{ render_fields(form, steps) }}
    </div>
    <div class="form-footer">
    {{ render_formfooter(form, is_partial) }}
    </div>
</form>
{% endblock %}
