{% extends "base.html" %}

{% block title %}
IDSR Input Form
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        div.formline {
            padding:5px;
        }
        div.required::before {
            color:red;
            content: "*";
        }
    </style>
{% endblock %}

{% block content %}
{% from "idsrentry/_formhelpers.html" import render_stepsnav %}
{% from "idsrentry/_formhelpers.html" import render_substeps %}
{{ render_stepsnav(form, steps) }}
<form action="" method="post" id="{{ form.step }}" name="{{ form.step }}">
    {{ form.hidden_tag() }}
    {{ render_substeps(form) }}
    <div>
        {{ form.submit }}
        {{ form.formstep(value=form.step.lower()) }}
        {{ form.idobj(value='1') }}
    </div>
</form>
{% endblock %}
