{% extends "base.html" %}

{% block title %}
IDSR Input Form
{% endblock %}

{% block head %}
    {{ super() }}
    <!-- JQuery and JQueryUI -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqueryui/jquery-ui.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.structure.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}"/>
    <style>
        div.formline {
            padding:5px;
        }
        div.required::before {
            color:red;
            content: "*";
        }
    </style>
    <script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $("input[type='date']").datepicker({ dateFormat: 'dd/mm/yy' });

            // Updates the selection list of district in accordance with the
            // selected option from the reporting county selection list
            $('select[id="reporting_country"]').change(function (e) {
                var country = $(this).val();
                $.post( "/idsrentry/@@json/getDistrictChoices", { county: country, }, function(data) {
                    $('select[id="reporting_district"] option').remove();
                    $('input[id="reporting_district_dynamic"]').val('');
                    vals = []
                    $.each(data, function( i, val ) {
                        var option = '<option value='+val[0]+'>'+val[1]+'</option>';
                        $('select[id="reporting_district"]').append(option);
                        if (val[0] != '') {
                            vals.push(val[0]);
                        }
                    });
                    $('input[id="reporting_district_dynamic"]').val(vals.join('|'));
                }, "json");
            });

            // Updates the selection list of facilities in accordance with the
            // selected option from the reporting county and district selection
            // lists
            $('select[id="reporting_district"]').change(function (e) {
                var country = $('select[id="reporting_country"]').val();
                var district = $(this).val();
                $.post( "/idsrentry/@@json/getFacilityChoices", { county: country, district: district }, function(data) {
                    $('select[id="reporting_health_facility"] option').remove();
                    $('input[id="reporting_health_facility_dynamic"]').val('');
                    $.each(data, function( i, val ) {
                        var option = '<option value='+val[0]+'>'+val[1]+'</option>';
                        $('select[id="reporting_health_facility"]').append(option);
                        if (val[0] != '') {
                            vals.push(val[0]);
                        }
                    });
                    $('input[id="reporting_health_facility_dynamic"]').val(vals.join('|'));
                }, "json");
            });

            // Browser navigator
            $('div.form-footer a.navlink').click(function(e) {
                e.preventDefault();
                var navstep = $(this).attr('href');
                $(navstep).show();
                $(this).closest('div.substep').hide();
            });
        })
    })(jQuery);
    </script>
{% endblock %}

{% block content %}
{% from "idsrentry/_formhelpers.html" import render_stepsnav %}
{% from "idsrentry/_formhelpers.html" import render_substepsnav %}
{% from "idsrentry/_formhelpers.html" import render_fields %}
{% from "idsrentry/_formhelpers.html" import render_formfooter %}
{{ render_stepsnav(form, steps) }}
{{ render_substepsnav(form)}}
<form action="" method="post" id="{{ form.step }}" name="{{ form.step }}">
    <div class='form'>
    {{ form.hidden_tag() }}
    {{ render_fields(form, steps) }}
    </div>
    <div class="form-footer">
    {{ render_formfooter(form) }}
    </div>
</form>
{% endblock %}
