<div id="D1">

    <div class="row">
        <div class="col-md-4">
            <label for="date_of_disease_onset" class="required">Date of Onset:</label><br>
            <input type="text" name="date_of_disease_onset" id="date_of_disease_onset" readonly="readonly">
            <label for="date_patient_seen" class="required">Date Seen:</label><br>
            <input type="text" name="date_patient_seen" id="date_patient_seen" readonly="readonly"><br>

            <label class="required">In/Out Patient?: </label><br>
            <input type="radio" name="patient_type" value="in_patient" id="in_patient">
            <label for="in_patient"> In Patient </label>
            <br>
            <input type="radio" name="patient_type" value="out_patient" id="out_patient">
            <label for="out_patient"> Out Patient </label>
            <br>
        </div>
        <div class="col-md-4">
            <label class="required">Outcome:</label><br>
            <input type="radio" name="case_outcome" value="patient_alive" id="case_alive">
            <label for="case_alive">Alive</label>
            <br>
            <input type="radio" name="case_outcome" value="patient_died" id="case_dead">
            <label for="case_dead">Dead (deceased)</label><br>
        </div>
        <div class="col-md-4">
            <label for="case_classification" class="required">Classification:</label><br>
            <select name="case_classification" id="case_classification"  required>
                <option disabled selected value> -- select an option -- </option>
                <option value="confirmed">Confirmed</option>
                <option value="suspected">Suspected</option>
            </select><br>
        </div>
    </div>

</div>