{% extends "base.html" %}

{% block title %}
IDSR Input Form
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}"/>
{% endblock %}

{% block content %}
<h1>Error Logs</h1>
{% from "dashboard/macros.html" import render_errorlog_table_header %}
<div class='items-table'>
  <table>
      <thead>
          {{ render_errorlog_table_header() }}
      </thead>
      <tbody>
          {% for log in items %}
          {% set lt = log.get('log_time') %}
          <tr class="{{ loop.cycle('odd', 'even') }}">
              <td>{{ lt}}</td>
              <td>{{ log.get('content_type') }}</td>
              <td>{{ log.get('message') }}</td>
              <td>{{ log.get('idsr_form_code','') }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

</div>
{% endblock %}
