<div id="D2">
<form>
<div>
<p>
<label for="name_of_person_reporting">Name of Person Reporting:</label><br>
<input type="text" id="name_of_person_reporting" name="name_of_person_reporting" required>
</label> 
</p>

<p>
<label for="phone_number_of_person_reporting">Phone Number of Person Reporting:</label><br>
<input id="phone_number_of_person_reporting" type="tel" name="phone_number_of_person_reporting" maxlength="10"> 
</label> 
</p>

<p>
<label for="name_of_person_collecting_specimen">Name of Person Collecting Specimen</label><br>
<input id="name_of_person_collecting_specimen" type="text" name="name_of_person_collecting_specimen" required >
</label> 
</p>

<p>
<label for="phone_number_of_person_collecting_specimen">Phone Number of Person Collecting Specimen</label><br>
<input id="phone_number_of_person_collecting_specimen" type="tel" name="phone_number_of_person_collecting_specimen" maxlength="10">
</label> 
</p>
</form>
</div>
</div>