<div id="D2">
<form>
<div>
<p>
<label for="name_of_person_reporting" class="required">Name of Person Reporting:</label><br>
<input type="text" id="name_of_person_reporting" name="name_of_person_reporting" required>
</p>

<p>
<label for="phone_number_of_person_reporting" class=required">Phone Number of Person Reporting:</label><br>
<input id="phone_number_of_person_reporting" type="tel" name="phone_number_of_person_reporting" maxlength="10">
</p>

<p>
<label for="name_of_person_collecting_specimen" class="required">Name of Person Collecting Specimen</label><br>
<input id="name_of_person_collecting_specimen" type="text" name="name_of_person_collecting_specimen" required >
</p>

<p>
<label for="phone_number_of_person_collecting_specimen" class="required">Phone Number of Person Collecting Specimen</label><br>
<input id="phone_number_of_person_collecting_specimen" type="tel" name="phone_number_of_person_collecting_specimen" maxlength="10">
</p>
</div>
</form>
</div>