<div id="D2">
<p>
<label><b>Name of Person Reporting<br></b>
<input type="text" Name_Of_Person_Reporting="Name_Of_Person_Reporting" required>
</label> 
</p>

<p>
<label><b>Phone Number<br></b>
<input type="tel" Phone_Number">
</label> 
</p>

<p>
<label><b>Name of Person Collecting Specimen<br></b>
<input type="text" Name_Of_Person_Collecting_Specimen="Name_Of_Person_Collecting_Specimen" >
</label> 
</p>

<p>
<label><b>Phone Number of Person Collecting Specimen<br></b>
<input type="tel" Phone_Number_of_Person_Collecting_Specimen">
</label> 
</p>



</div>