<!--
Fields*

- Vaccinated for this desease? Radio buttons: Yes/No/Unknown. By default "Unknown"
- Number of vaccinations: numbers only
- Date of most recent vaccination: DatePicker (dd/MM/yyyy).

*Behavior*

Fields "Number of vaccinations" and "Date of most recent vaccinations" must be displayed/enabled only
if the user selects the option "Yes" to "vaccinated for this disease" field.

*Validation*

The date of most recent vaccination must be within the lifetime of the patient based on their entered (or computed) birth date.
-->
<div id="D4">

    <form>
        <div>
            <label class="required">Vaccinated for this desease? </label><br>
            <input type="radio" name="vaccinated_for_disease" value="vaccinated_yes" id="vaccinated_yes">
            <label for="vaccinated_yes"> Yes </label>
            <br>
            <input type="radio" name="vaccinated_for_disease" value="vaccinated_no" id="vaccinated_no">
            <label for="vaccinated_no"> No </label>
            <br>
            <input type="radio" name="vaccinated_for_disease" value="vaccinated_unknown" id="vaccinated_unknown" checked>
            <label for="vaccinated_unknown"> Unknown </label>
        </div>

        <label for="num_of_vaccinations">Number of vaccinations:</label><br>
        <input type="number" min="0" name="num_of_vaccinations" id="num_of_vaccinations">

        <label for="date_of_most_recent_vaccination">Date of most recent vaccination:</label><br>
        <input type="text" name="date_of_most_recent_vaccination" id="date_of_most_recent_vaccination" readonly="readonly">

    </form>

</div>