<div id="C2">

    <label for="patient_county_of_residence" class="required county_select" id="test_hide">
        Patient County of Residence:</label><br>
    <select name="patient_county_of_residence" id="patient_county_of_residence"
            onchange="changeEventHandler(event);"></select><br>
    <label for="patient_district_of_residence" class="required district_select">Patient District of Residence:</label><br>
    <select name="patient_district_of_residence" id="patient_district_of_residence"></select>
    <br>
    <label for="patient_community_of_residence" class="required">Patient Community of Residence:</label>
    <input type="text" name="patient_community_of_residence" id="patient_community_of_residence" class="form-control"
           required>


</div>
