<div id="C3">
<form>
<div>
<label for="head_of-household">Head of Household:</label><br>
<input id="head_of_household" type="text" name="head_of_household="head_of_household" required>
</label>
</p>

<p>
<label for="parent_name">Parent Name (if young):</label><br>
<input id="parent_name" type="text" name="parent_name" required>
</label>
</p>

<p>
<label for="parent_phone_number">Parent Phone Number:</label><br>
<input id="parent_phone_number" type="tel" name="parent_phone_number" maxlength="10" required>
</label>
</form>
</div>
</div>