<div id="C3">
<form>
<div><p>
<label for="head_of_household" class="required">Head of Household:</label><br>
<input id="head_of_household" type="text" name="head_of_household=" required>
</p>

<p>
<label for="parent_name" class="required">Parent Name (if young):</label><br>
<input id="parent_name" type="text" name="parent_name" required>
</p>

<p>
<label for="parent_phone_number" class="required">Parent Phone Number:</label><br>
<input id="parent_phone_number" type="tel" name="parent_phone_number" maxlength="10" required>
</p>
</div>
</form>
</div>