<div id="C3">
    <div>
        <label for="head_of_household" class="required">Head of Household:</label><br>
        <input id="head_of_household" type="text" name="head_of_household" required>
        <label for="patient_parent_name" class="required">Parent Name (if young):</label><br>
        <input id="patient_parent_name" type="text" name="patient_parent_name" required>
        <label for="patient_parent_phone_number" class="required">Parent Phone Number:</label><br>
        <input id="patient_parent_phone_number" type="tel" name="patient_parent_phone_number" maxlength="10" required>
    </div>
</div>