<div id="C4">
<form><p><label for="cross_border_in_last_month" class="required">Cross Border in Last Month?</label></p>
<p><label> <input id="cross_border_in_last_month" type="radio" name="Cross_Border_In_Last_Month?" value=""checked>Unknown</label></p>
<p><label> <input id="cross_border_in_last_month" type="radio" name="Cross_Border_In_Last_Month?" value="YES"> YES </label></p>
<p><label> <input id="cross_border_in_last_month" type="radio" name="Cross_Border_In_Last_Month?" value="NO"> NO </label></p>

<p><label for="case_detected_at_community_level" class="required">Case Detected at Community Level</label></p>
<p><label> <input id="case_detected_at_community_level" type="radio" name="Case_Detected_at_Community_Level" value=""checked>Unknown</label></p>
<p><label> <input id="case_detected_at_community_level" type="radio" name="Case_Detected_at_Community_Level" value="YES"> YES </label></p>
<p><label> <input id="case_detected_at_community_level" type="radio" name="Case_Detected_at_Community_Level" value="NO"> NO </label></p></form>
</div>