<div id="C4">
<form>
<div>
<p><label for="cross_border_in_last_month">Cross Border in Last Month?</label></p>
<label> <input id="cross_border_in_last_month" type="radio" name="cross_border_in_last_month" value=""checked>Unknown</label>
<label> <input id="cross_border_in_last_month" type="radio" name="cross_border_in_last_month" value="YES"> YES </label>
<label> <input id="cross_border_in_last_month" type="radio" name="cross_border_in_last_month" value="NO"> NO </label>

<p><label for="case_detected_at_community_level">Case Detected at Community Level</label></p>
<label> <input id="case_detected_at_community_level" type="radio" name="case_detected_at_community_level" value=""checked>Unknown</label>
<label> <input id="case_detected_at_community_level" type="radio" name="case_detected_at_community_level" value="YES"> YES </label>
<label> <input id="case_detected_at_community_level" type="radio" name="case_detected_at_community_level" value="NO"> NO </label>
</div>
</form>
</div>
</div>