<div id="C4">

    <div class="form-group">
        <label for="patient_cross_border_in_last_month" class="required">Cross Border in Last Month?</label>
        <br>
        <input id="patient_cross_border_in_last_month_unknown" type="radio" name="patient_cross_border_in_last_month" value="Unknown" checked>
        <label for="patient_cross_border_in_last_month_unknown">Unknown</label>
         <br>
        <input id="patient_cross_border_in_last_month_yes" type="radio" name="patient_cross_border_in_last_month" value="YES">
        <label for="patient_cross_border_in_last_month_yes">YES</label>
         <br>
        <input id="patient_cross_border_in_last_month_no" type="radio" name="patient_cross_border_in_last_month" value="NO">
        <label for="patient_cross_border_in_last_month_no">NO</label><br>
    </div>
<br>


    <div class="form-group">
        <label for="case_detected_at_community_level" class="required">Case Detected at Community Level</label><br>
        <input id="case_detected_at_community_level_unknown" type="radio" name="case_detected_at_community_level" value="Unkown"
               checked>
        <label for="case_detected_at_community_level_unknown"> Unknown</label>
         <br>
        <input id="case_detected_at_community_level_yes" type="radio" name="case_detected_at_community_level" value="YES">
        <label for="case_detected_at_community_level_yes"> YES</label>
         <br>
        <input id="case_detected_at_community_level_no" type="radio" name="case_detected_at_community_level" value="NO">
        <label for="case_detected_at_community_level_no">NO</label>
    </div>
</div>