<div id="A1">

    <label for="reporting_date" class="required">Reporting Date:</label>
    <input type="date" name="reporting_date" id="reporting_date" required>
    <br>
    <label class="required">IDSR ID:</label>
    <br>
    <div class="form-group">
        <input type="text" name="county_code" id="county_code" class="form-control" required>
        <label for="county_code" class="required">County Code:</label>
    </div>
    <div class="form-group">
        <input type="text" name="facility_code" id="facility_code" class="form-control" required>
        <label for="facility_code" class="required">Facility Code:</label>
    </div>
    <div class="form-group">
        <input type="text" name="case_id" id="case_id" class="form-control" required>
        <label for="case_id" class="required">Case ID:</label>
    </div>
</div>