<div id="A2">

    <label for="reporting_health_facility" class="required">Reporting Health Facility:</label>
    <input type="text" name="reporting_health_facility" id="reporting_health_facility" required>

    <label for="reporting_county" class="required county_select" id="test_hide">
        Reporting County:</label><br>

    <select name="reporting_county" id="reporting_county" onchange="changeEventHandler(event);"></select><br>

    <label for="reporting_district" class="required district_select">Reporting District:</label><br>
    <select name="reporting_district" id="reporting_district"></select>

</div>
