<div id="P2">
    <div class="col-md-6">
        <label for="reporting_person_first_name" class="required">Reporting Person First Name:</label><br>
        <input type="text" id="reporting_person_first_name" name="reporting_person_first_name" required>

        <label for="reporting_person_last_name" class="required">Reporting Person Last Name:</label><br>
        <input type="text" id="reporting_person_last_name" name="reporting_person_last_name" required>

        <label for="phone_number_of_person_reporting" class="required">Phone Number of Reporting Person:</label>
        <input type="text" name="phone_number_of_person_reporting" id="phone_number_of_person_reporting" required>
    </div>
</div>