<div id="D2">

<div>
<label for="reporting_person_first_name" class="required">Reporting Person First Name:</label><br>
<input type="text" id="reporting_person_first_name" name="reporting_person_first_name" required>

<label for="reporting_person_last_name" class="required">Reporting Person Last Name:</label><br>
<input type="text" id="reporting_person_last_name" name="reporting_person_last_name" required>

<label for="phone_number_of_person_reporting" class="required">Phone Number of Reporting Person :</label><br>
<input id="phone_number_of_person_reporting" type="tel" name="phone_number_of_person_reporting" maxlength="10">

<label for="name_of_person_collecting_specimen" class="required">Name of Person Collecting Specimen</label><br>
<input id="name_of_person_collecting_specimen" type="text" name="name_of_person_collecting_specimen" required >

<label for="phone_number_of_person_collecting_specimen" class="required">Phone Number of Person Collecting Specimen</label><br>
<input id="phone_number_of_person_collecting_specimen" type="tel" name="phone_number_of_person_collecting_specimen" maxlength="10">
</div>

</div>