<!doctype html>
<html>
<head>
       <!-- JQuery and JQueryUI -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqueryui/jquery-ui.min.js') }} "></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='jqueryui/jquery-ui.structure.min.css') }}"/>

    <!-- Bootstrap things -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }} "></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>

    <!-- This contains the configuration of the entire steps-form -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataclerk_task_selection.css') }}"/>

</head>
<body>
{% include "header.html" %}
<div id="page_center">
    <h1>Select an Option Below</h1>
<hr size="1">
    <a href="idsr-partial" class="myButton">CLICK TO ENTER PARTIAL IDSR INPUT NEEDED FOR AR</a>
    <br>
    <br>
    <a href="idsr-form" class="myButton">CLICK TO ENTER FULL IDSR INPUT FOR AR</a>
    <br>
    <br>
    <a href="incomplete-idsr" class="myButton">CLICK TO COMPLETE PARTIALLY FILLED IDSR</a>
    <br>
    <br>
    <a href="" class="myButton">GENERATE REPORTS</a>
</div>
</body>
</html>