<div id="P4">
    <div class="row">
        <div class="col-md-6">
            <label for="date_of_specimen_collection" class="required">Date of Specimen Collection:</label><br>
            <input type="date" name="date_of_specimen_collection" id="date_of_specimen_collection" required>

            <label for="date_specimen_sent_to_lab" class="required">Date of Specimen Sent to Lab:</label><br>
            <input type="date" name="date_specimen_sent_to_lab" id="date_specimen_sent_to_lab" required>

            <label for="specimen_type" class="required sample">Specimen Type</label><br>
            <select name="specimen_type" id="specimen_type" required>
                <option disabled selected value> -- select an option --</option>
                <option value="Semen (EVD)">Semen (EVD)</option>
                <option value="Serum (EVD)">Serum (EVD)</option>
                <option value="Swabs (EVD)">Swabs (EVD)</option>
                <option value="Whole Blood (EVD)">Whole Blood (EVD)</option>
            </select><br>

            <label for="lab_analysis_requested" class="required lab_anal">Lab Analysis Requested</label><br>
            <select name="lab_analysis_requested" id="llab_analysis_requested" required>
                <option value="GeneXpert_EVD">GeneXpert_EVD</option>
            </select>
        </div>

    </div>

</div>