<div id="P3">

    <input type="checkbox" name="anonymous_patients" id="anonymous_patients">
    <label for="anonymous_patients">Anonymous Patient</label><br>
    <br>
    <label for="patient_record_id" class="required">Client Patient ID</label>
    <input type="text" name="patient_record_id" id="patient_record_id"required>

    <div class="row" id="known_patient_fields">
        <div class="col-md-6">
            <label for="patient_first_name" class="required">Patient First Name:</label>
            <input type="text" name="patient_first_name" id="patient_first_name" required>
            <label for="patient_middle_name">Patient Middle Name:</label>
            <input type="text" name="patient_middle_name" id="patient_middle_name">
            <label for="patient_last_name" class="required">Patient Last Name:</label>
            <input type="text" name="patient_last_name" id="patient_last_name" required>
        </div>

        <div class="col-md-6">
            <!-- <label for="sex">Patient Sex:</label> -->
            <label for="patient_gender" class="patient_gender required">Gender:</label><br>
            <select name="patient_gender" id="patient_gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="unknown">Unknown</option>
            </select>
            <br>
            <input type="radio" name="age_of_patient" id="date_of_births" required>
            <label for="age_of_patient" class="required">Date of Birth</label><br>
            <input type="text" name="patient_date_of_birth" id="pick_date_of_birth" readonly="readonly">


            <input type="radio" name="age_of_patient" id="age_of_patient">
            <label for="age_of_patient" class="required">Patient Age:</label><br>


            <!-- The below was done to keep the elements inline --->
            <div id="age_input">
                <div class="form-group">
                    <input type="text" name="patient_age_year" id="patient_age_years"
                           class="form-control age_enter_fields"
                           size=3>
                    <label for="patient_age_years" class="age_enter_fields required">Years:</label>
                </div>
                <div class="form-group">
                    <input type="text" name="patient_age_month" id="patient_age_month"
                           class="form-control age_enter_fields"
                           size=3>
                    <label for="patient_age_month" class="age_enter_fields required">Months:</label>
                </div>
                <div class="form-group">

                    <input type="text" name="patient_age_days" id="patient_age_days"
                           class="form-control age_enter_fields"
                           size=3>
                    <label for="patient_age_years" class="age_enter_fields required">Days:</label>
                </div>
            </div>
        </div>
    </div>
</div>